<form action="/memos" method="post">
  <div class="form-group">
    <input type="text" name="memo_title" class="form-control">
  </div>
  <div class="form-group">
    <textarea class="form-control" name="memo_text" rows="10"></textarea>
  </div>
  <div class="text-center">
    <input type="submit" type="button" class="btn btn-dark w-50" value="保存"></a>
  </div>
</form>