<a href="/memos/new" type="button" class="btn bg-secondary text-light w-50 my-3">追加</a>
<div class="row">
  <ul>
    <% @memo_list.each do |id,memo| %>
    <li class="my-2">
      <a class="text-dark" href="/memos/<%= id %>"><%= memo["title"] %></a>
    </li>
    <% end %>
  </ul>
</div>